@media (prefers-color-scheme: dark) {
  body {
    background-color: #1c1c1c;
    color: #f4f4f9;
  }
}

@font-face {
  font-family: "Cinzel";
  src: url("./assets/fonts/Cinzel-Bold.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fira Sans Condensed";
  src: url("./assets/fonts/FiraSansCondensed-SemiBold.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fira Sans Condensed Bold";
  src: url("./assets/fonts/FiraSansCondensed-ExtraBold.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

html {
  display: none;
  visibility: hidden;
  transition: none;
}

html.theme-loaded {
  display: block;
  visibility: visible;
}

.hidden {
  display: none !important;
}

.no-click {
  pointer-events: none !important;
}

img {
  pointer-events: none;
}

#github_img {
  pointer-events: all;
}

/* General styles for the light theme (default) */
body {
  background-color: #f4f4f9;
  color: #1c1c1c;
  font-family: "Fira Sans Condensed", Arial;
}

body.centered-body {
  margin-top: 40vh;
  text-align: center;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
  align-items: center;
  margin: 0 0 auto;
  color: #1c1c1c;
}

footer {
  text-align: center;
  margin-top: 20px;
  color: #1c1c1c;
}

.periodic-table {
  margin: 0 auto;
  width: 70%;
  margin-top: 17vh;
  border-collapse: collapse;
}

.periodic-table td {
  z-index: 999;
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  user-select: none;
  cursor: pointer;
  transition: opacity 0.5s ease, background-color 0.5s ease, transform 0.5s ease;
}

@media (max-width: 768px) {
  body.centered-body {
    margin-top: 20vh;
  }
}

.login-form {
  text-align: center;
  font-size: larger;
}

.login-form * {
  margin: 20px 10px auto auto;
}

#linkToOriginPage {
  margin-top: 20px;
  color: blue;
}

.action {
  display: flex;
  align-items: stretch;
  gap: 10px;
  border: 0.3rem dotted #1c1c1c;
  padding: 15px;
  width: 100%;
  height: 20vh;
  word-wrap: break-word;
}

@media (max-width: 600px) {
  .action {
    width: 40vh;
    height: fit-content;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .action {
    width: 60vh;
    height: fit-content;
  }
}

.action .img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.action img {
  width: 10rem;
  height: 10rem;
}

.action .text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div.actions-row {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  align-items: center;
}

@media (max-width: 768px) {
  div.actions-row {
    flex-direction: column;
  }
}

#chapters-container {
  margin: 0 auto;
  max-width: 43.5rem;
}

.chapter {
  width: 3.5rem;
  height: 3.5rem;
  background-color: lightgreen;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  border: 1px solid #1c1c1c;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.5s ease;
}

.dark-theme .chapter {
  background-color: #7dbf7d;
  border-color: #f4f4f9;
}

.notes-page-title {
  text-align: center;
  margin: 0 auto;
}

.note-title {
  font-family: "Fira Sans Condensed Bold", Arial;
}

.notes-page-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 0 auto;
  max-width: 43.5rem;
}

.notesContainer .note {
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 0.1rem solid #1c1c1c;
  padding: 15px;
  width: 100%;
  word-wrap: break-word;
  background-color: #f4f4f9 !important;
  transition: background-color 0.5s ease;
}

@media (max-width: 768px) {
  .notesContainer .note {
    max-width: 42vh;
  }
}

.dark-theme .notesContainer .note {
  border-color: #f4f4f9;
  background-color: #1c1c1c !important;
}

.notesContainer .note .verse-number {
  text-align: center;
  justify-content: center;
  margin-right: 5rem;
}

.notesContainer .note .verse-number h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.notesContainer .note .note-body {
  display: flex;
  width: 100%;
  flex-direction: column;
  word-break: break-word;
  justify-content: space-between;
  text-align: center;
}

#clicked-note {
  display: flex;
  flex-direction: column;
}

#clicked-note .verse-number {
  margin-right: 0;
  font-size: larger;
  text-decoration: underline;
  margin-bottom: 10rem;
}

#clicked-note .note-body {
  gap: 5rem;
}

.delete,
.share,
.edit {
  position: fixed;
  visibility: hidden;
  display: none;
}

.share {
  bottom: 10rem;
  right: 20%;
}

.delete {
  bottom: 10rem;
  left: 20%;
}

.edit {
  bottom: 10rem;
  right: 49%;
}

@media (max-width: 768px) {
  .edit {
    right: 44%;
  }
}

#clicked-note .delete,
#clicked-note .share,
#clicked-note .edit {
  visibility: visible;
  display: block;
}

/* Modal styles */

.openModal {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 28px;
  font-weight: bold;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed;
  word-break: break-word;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #ddd;
  width: 80%;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-header,
.modal-footer,
.modal-body,
.modal-content {
  padding: 10px;
  background-color: #f4f4f9;
  color: #1c1c1c;
  border-radius: 10px 10px 0 0;
}

.modal-header,
.modal-footer {
  font-family: "Cinzel", Arial;
}

.modal-body {
  display: flex;
}

.note-form-body {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  width: 50%;
  margin-right: 25%;
}

#saveNote {
  height: fit-content;
  margin-top: 8vh;
}

.modal-footer {
  border-radius: 0 0 10px 10px;
}

.closeModal {
  color: red;
  float: right;
  cursor: pointer;
  font-size: 28px;
  font-weight: bold;
}

.closeModal:hover,
.closeModal:focus {
  color: darkred;
  text-decoration: none;
}

hr.dashed {
  border: 0;
  border-top: 1px dashed; /* Linea tratteggiata */
  margin: 20px 0;
}

hr.normal {
  border: 0;
  border-top: 1px solid;
  margin: 30px 0;
}

td:hover {
  transform: scale(1.1);
}

.law {
  background-color: #acf8ac;
}

.law:hover {
  background-color: #7dbf7d;
}

.historical {
  background-color: lightpink;
}

.historical:hover {
  background-color: #d39da5;
}

.wisdom {
  background-color: #ffcc99;
}

.wisdom:hover {
  background-color: #c09a75;
}

.maj-prophet {
  background-color: lightgrey;
}

.maj-prophet:hover {
  background-color: #a09e9e;
}

.min-prophet {
  background-color: #8fbcd4 !important;
}

.min-prophet:hover {
  background-color: #7295a8 !important;
}

.apostles {
  background-color: #d14cdd !important;
}

.apostles:hover {
  background-color: #a63aae !important;
}

.letter {
  background-color: #50c440 !important;
}

.letter:hover {
  background-color: #3a8f2f !important;
}

.other {
  background-color: #fc952f !important;
}

.other:hover {
  background-color: #c97a1f !important;
}

.no-border {
  border: none !important; /* Removes the border for legend td */
}

/* Class to make elements transparent */
.faded {
  pointer-events: none !important;
  z-index: 0 !important;
  opacity: 0.2 !important;
}

button {
  text-align: center;
  font-family: "Fira Sans Condensed", Arial;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #f4f4f9;
  background-color: #1c1c1c;
  border-radius: 5px;
  transition: background-color 0.5s ease;
  opacity: 1 !important;
}

button:hover {
  background-color: #000000;
}

button.theme-toggle {
  position: fixed;
  top: 20px;
  left: 20px;
}

button.account {
  position: fixed;
  top: 20px;
  right: 20px;
}

.search-container {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
}

#search-input {
  transition: background-color 0.5s ease;
  height: 40px;
  margin-right: 5px;
  padding: 0 10px;
  font-size: 16px;
  width: 19.4rem;
  background-color: #1c1c1c;
  color: #f4f4f9;
  border: none;
  border-radius: 5px;
  font-family: "Fira Sans Condensed", Arial;
}

#search-button {
  border: none;
  cursor: pointer;
  height: 40px;
  width: 40px;
  padding: 0;
  border-radius: 5px;
}

#search-input::placeholder {
  color: #ddd;
}

.legend {
  background-color: transparent !important;
}

.no-border {
  border: none !important;
}

/* Dark theme styles for the modal */
.dark-theme .modal-content {
  border: 1px solid #444;
  background-color: #1c1c1c;
}

.dark-theme .modal-header,
.dark-theme .modal-footer,
.dark-theme .modal-body {
  background-color: #1c1c1c;
  color: #f4f4f9;
}

.dark-theme a {
  color: #9f52f8;
}

.dark-theme .close {
  color: #ddd;
}

.dark-theme .close:hover,
.dark-theme .close:focus {
  color: #bbb;
}

/* Style for the dark theme */
body.dark-theme {
  background-color: #1c1c1c;
  color: #f4f4f9;
}

.dark-theme .action {
  border-color: #f4f4f9;
}

.dark-theme #linkToOriginPage {
  color: #9f52f8;
}

.dark-theme h1 {
  color: #f4f4f9;
}

.dark-theme footer {
  color: #f4f4f9;
}

.dark-theme .group,
.dark-theme .period {
  color: #f4f4f9 !important;
}

.dark-theme .periodic-table td {
  border: 1px solid #444;
  color: #1c1c1c;
}

.dark-theme #search-input {
  background-color: #f4f4f9;
  color: #1c1c1c;
}

.dark-theme #search-input::placeholder {
  color: #4b4b4b;
}

.dark-theme .historical {
  background-color: #ff7675;
}

.historical:hover {
  background-color: #d86565;
}

.dark-theme .wisdom {
  background-color: #55efc4;
}

.dark-theme .wisdom:hover {
  background-color: #46be9c;
}

.dark-theme .law {
  background-color: #a29bfe;
}

.dark-theme .law:hover {
  background-color: #847fd1;
}

.dark-theme .maj-prophet {
  background-color: #ffeaa7;
}

.dark-theme .maj-prophet:hover {
  background-color: #d4c38b;
}

/* Specific categories of elements */

/* The color of others is a bright orange and is fine for both themes */

.dark-theme .apostles {
  background-color: #67b4f3 !important;
}

.dark-theme .apostles:hover {
  background-color: #4f8dbf !important;
}

.dark-theme .letter {
  background-color: #62b800 !important;
}

.dark-theme .letter:hover {
  background-color: #4f8f00 !important;
}

.dark-theme .min-prophet {
  background-color: #fab1a0 !important;
}

.dark-theme .min-prophet:hover {
  background-color: #c98e81 !important;
}

.dark-theme .special {
  background-color: #91949b !important;
}

.dark-theme .special:hover {
  background-color: #73767c !important;
}

.dark-theme .specialLegend {
  color: #f4f4f9 !important;
  background-color: transparent !important;
}

.dark-theme .specialLegend:hover {
  background-color: transparent !important;
}

.dark-theme .legend {
  background-color: transparent !important;
  color: #f4f4f9 !important;
}

.dark-theme .no-border {
  border: none !important;
}

.dark-theme .return {
  color: #1c1c1c;
  background-color: #f4f4f9;
}

.dark-theme button {
  background-color: #f4f4f9;
  color: #1c1c1c;
}

.dark-theme button:hover {
  background-color: #d1d1d1;
}

/* Styles for in-depth sections */

h2,
h3,
p,
li,
ul {
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
  width: 85%;
  word-wrap: break-word;
  white-space: normal;
  list-style-position: inside;
}

canvas {
  display: block;
  margin: 0;
}

.controls {
  text-align: center;
}

.controls button {
  margin: 10px;
  cursor: pointer;
}

#rendererContainer {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s ease !important;
  background-color: #f4f4f9;
}

.dark-theme #rendererContainer {
  background-color: #1c1c1c;
}

.main-img {
  text-align: center;
}

.return {
  font-family: "Fira Sans Condensed", Arial;
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #f4f4f9;
  background-color: #1c1c1c;
  border-radius: 5px;
}

#showInPeriodicTableButton {
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  display: block;
}
