:root {
  --bg: #f4f4f9;
  --primary-col: #1c1c1c;
  --border-col: black;
  --link-col: blue;
  --chapter-col: #90ee90;
  --chapter-hover: #6fa86f;
  --btn-hover: black;
  --placeholder-col: #ddd;

  --historical: #ffb6c1;
  --historical-hover: #d39da5;
  --wisdom: #ffcc99;
  --wisdom-hover: #c09a75;
  --law: #acf8ac;
  --law-hover: #7dbf7d;
  --apostles: #d14cdd;
  --apostles-hover: #a63aae;
  --letter: #50c440;
  --letter-hover: #3a8f2f;
  --maj-prophet: #d3d3d3;
  --maj-prophet-hover: #a09e9e;
  --min-prophet: #8fbcd4;
  --min-prophet-hover: #7295a8;

  --tag-bg: #cce5ff; /* azzurro chiaro, sfondo pill */
  --tag-bg-hover: #99ccff; /* azzurro più intenso, hover */
  --tag-color: #004085; /* blu scuro testo */
  --tag-border: #b8daff; /* bordo pill */
  --tag-border-hover: #66b0ff; /* bordo pill hover */
}

.dark-theme {
  --bg: #1c1c1c;
  --primary-col: #f4f4f9;
  --border-col: #bbb;
  --link-col: #9f52f8;
  --chapter-col: #7dbf7d;
  --chapter-hover: #5d9c5d;
  --btn-hover: #d1d1d1;
  --placeholder-col: #4b4b4b;

  --historical: #ff7675;
  --historical-hover: #d86565;
  --wisdom: #55efc4;
  --wisdom-hover: #46be9c;
  --law: #a29bfe;
  --law-hover: #847fd1;
  --apostles: #67b4f3;
  --apostles-hover: #4f8dbf;
  --letter: #62b800;
  --letter-hover: #4f8f00;
  --maj-prophet: #ffeaa7;
  --maj-prophet-hover: #d4c38b;
  --min-prophet: #fab1a0;
  --min-prophet-hover: #c98e81;

  --tag-bg: #2a3b5c; /* blu scuro sfondo pill */
  --tag-bg-hover: #405a8c; /* blu più chiaro hover */
  --tag-color: #cbd5f7; /* testo azzurro chiaro */
  --tag-border: #405a8c; /* bordo pill */
  --tag-border-hover: #6699ff; /* bordo pill hover */
}

/* Tema chiaro */
@media (prefers-color-scheme: light) {
  body {
    background-color: #f4f4f9;
    color: #1c1c1c;
  }
}

/* Tema scuro */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #1c1c1c;
    color: #f4f4f9;
  }
}

@font-face {
  font-family: "Cinzel";
  src: url("./fonts/Cinzel-Bold.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fira Sans Condensed";
  src: url("./fonts/FiraSansCondensed-SemiBold.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fira Sans Condensed Bold";
  src: url("./fonts/FiraSansCondensed-ExtraBold.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

html {
  display: none;
  visibility: hidden;
  transition: none;
}

html.theme-loaded {
  display: block;
  visibility: visible;
}

img {
  pointer-events: none;
}

a {
  color: var(--link-col);
}

body {
  background-color: var(--bg);
  color: var(--primary-col);
  font-family: "Fira Sans Condensed", Arial;
}

body.centered-body {
  margin-top: 50%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1024px) {
  body.centered-body {
    margin-top: 30vh;
  }
}

h1 {
  text-align: center;
  align-items: center;
  margin: 0 0 auto;
  color: var(--primary-col);
}

footer {
  text-align: center;
  margin-top: 20px;
  color: var(--primary-col);
}

footer img {
  pointer-events: all;
  margin-left: 30px;
}

.periodic-table {
  margin: 0 auto;
  width: 70%;
  margin-top: 17vh;
  margin-bottom: 14vh;
  border-collapse: collapse;
  position: relative;
}

.periodic-table td {
  z-index: 2;
  border: 1px solid var(--border-col);
  color: #1c1c1c;
  padding: 10px;
  text-align: center;
  user-select: none;
  cursor: pointer;
  transition: opacity 0.5s ease, background-color 0.5s ease, transform 0.5s ease;
}

@media (max-width: 768px) {
  body.centered-body {
    margin-top: 20vh;
  }
}

#linkToLoginPage {
  margin-top: 20px;
  color: var(--link-col);
}

.standard-title {
  text-align: center;
  margin: 10vh auto;
}

.action {
  display: flex;
  align-items: stretch;
  gap: 10px;
  border: 0.3rem dotted var(--primary-col);
  padding: 15px;
  width: 100%;
  min-height: 20vh;
  word-break: break-word;
}

@media (max-width: 600px) {
  .action {
    max-width: 90%;
    height: auto;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .action {
    max-width: 80%;
    height: auto;
  }
}

.action .img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.action img {
  width: 10rem;
  height: 10rem;
  object-fit: contain;
}

.action .text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

div.actions-row {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  div.actions-row {
    flex-direction: column;
  }
}

#chapters-container {
  margin: 0 auto;
  margin-bottom: 7rem;
  max-width: 43.5rem;
}

.chapter {
  width: 3.5rem;
  height: 3.5rem;
  background-color: var(--chapter-col);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  border: 1px solid var(--border-col);
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.5s ease;
  border-color: var(--primary-col);
  opacity: 0.67;
  user-select: none;
}

.chapter.hasNotes {
  opacity: 1;
}

.chapter:hover {
  background-color: var(--chapter-hover);
}

#readBook,
#readChapter {
  position: fixed;
  right: 50%;
  bottom: 60px;
  transform: translateX(50%);
  z-index: 1;
}

.notes-page-title {
  text-align: center;
  margin: 10vh auto;
  margin-bottom: 0;
}

.note-title {
  font-family: "Fira Sans Condensed Bold", Arial;
}

.notes-page-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 0 auto;
  margin-bottom: 10rem;
  max-width: 43.5rem;
}

.notesContainer .note {
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 0.1rem solid var(--primary-col);
  padding: 15px;
  width: 40vh;
  word-wrap: break-word;
  background-color: var(--bg) !important;
  transition: background-color 0.5s ease;
}

@media (max-width: 768px) {
  .notesContainer .note {
    max-width: 42vh;
  }
}

.notesContainer .note .verse-number {
  text-align: center;
  justify-content: center;
  margin-right: 5rem;
}

.notesContainer .note .verse-number h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.notesContainer .note .note-body {
  display: flex;
  width: 100%;
  flex-direction: column;
  word-break: break-word;
  justify-content: space-between;
  text-align: center;
}

#clicked-note {
  display: flex;
  flex-direction: column;
  border: none;
  overflow-y: auto;
}

#clicked-note .verse-number {
  margin-right: 0;
  font-size: larger;
  text-decoration: underline;
  margin-bottom: 10vh;
}

#clicked-note .note-title {
  font-family: "Fira Sans Condensed Bold", Arial;
  font-size: 150%;
  margin-bottom: 6.7vh;
}

.note-action-buttons button {
  position: fixed;
  visibility: hidden;
  display: none;
  bottom: 5rem;
  transform: translateX(-50%);
}

.close-note {
  display: none;
}

/* Buttons visible when the note is clicked */
#clicked-note .note-action-buttons button {
  visibility: visible;
  display: block;
}

#clicked-note .close-note {
  display: block;
  cursor: pointer;
  position: fixed;
  top: 30px;
  right: 30px;
  font-size: 300%;
}

/* Landscape positioning */
.share {
  left: 20%;
}

.edit {
  left: 50%;
}

.delete {
  left: 80%;
}

#clicked-note .note-body {
  margin-bottom: 10rem;
}

/* Tags */

/* Contenitore del select */
.choices {
  background-color: var(--bg);
  border: 2px solid var(--border-col);
  border-radius: 8px;
  padding: 1rem;
  font-family: inherit;
  font-size: 14px;
  transition: border-color 0.2s;
}
@media screen and (max-width: 768px) and (orientation: portrait) {
  .choices {
    width: 180%;
  }
}

/* Parte interna */
.choices__inner {
  background-color: var(--bg) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  padding: 10px;
  text-align: center;
  border: none !important;
}

/* Tag selezionati */
.choices__item--selectable {
  background-color: var(--bg);
  border: 1px solid var(--border-col);
  color: var(--primary-col);
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 13px;
  line-height: 1.4;
  cursor: default;
}

.choices__item--selectable.is-highlighted {
  color: var(--bg);
}

/* Bottone "x" per rimuovere un tag */
.choices__button {
  margin-left: 6px;
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
}

/* Dropdown delle scelte */
.choices__list--dropdown {
  background-color: transparent !important;
  border: none !important;
  border-radius: 0 0 6px 6px;
  max-height: 200px;
  overflow-y: auto;
}

/* Opzioni nel dropdown */
.choices__list--dropdown .choices__item--choice {
  padding: 8px 10px;
  cursor: pointer;
  background-color: var(--primary-col) !important;
  color: var(--bg);
  transition: background-color 0.2s;
}

.choices__notice {
  color: var(--bg) !important;
}

.tag-pill {
  display: inline-block;
  max-width: 180px; /* Limite larghezza max */
  padding: 4px 12px;
  margin: 4px 6px 0 0;
  background-color: var(--tag-bg);
  color: var(--tag-color);
  font-size: 0.8rem;
  font-weight: 500;
  border-radius: 100px;
  border: 1px solid var(--tag-border);
  user-select: none;
  white-space: nowrap; /* Nessuna rottura su più righe */
  overflow: hidden; /* Nasconde l'eccesso */
  text-overflow: ellipsis; /* Puntini di troncamento */
  transition: background-color 0.3s ease, border-color 0.3s ease,
    color 0.3s ease;
  cursor: default;
}

.tag-pill:hover {
  background-color: var(--tag-bg-hover);
  color: var(--tag-color);
  border-color: var(--tag-border-hover);
}

/* Container per avere gap e wrap */
.tags-container {
  margin-top: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

#noteContent,
#verseNumber,
#noteTitle {
  padding: 10px;
  display: inline-block;
  border: 2px solid var(--border-col);
  border-radius: 8px;
}

/* Modal styles */

.centeredModal * {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.modal,
.loadingModal {
  display: none; /* Hidden by default */
  position: fixed;
  word-break: break-word;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.loadingModal {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.modal-content,
.loadingModalContent {
  margin: 10% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid var(--border-col);
  width: 80%;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.loadingModalContent {
  background-color: var(--bg);
}

.modal-body textarea {
  height: 10rem;
}

.modal-body input,
.modal-body textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: 1px solid var(--primary-col);
  color: var(--primary-col);
  background-color: inherit;
  font-family: "Fira Sans Condensed", Arial;
  font-size: medium;
}

.modal-header,
.modal-footer,
.modal-body,
.modal-content {
  padding: 10px;
  background-color: var(--bg);
  color: var(--primary-col);
  border-radius: 10px 10px 0 0;
}

.modal-header,
.modal-footer {
  font-family: "Cinzel", Arial;
}

.modal-body {
  display: flex;
}

.note-form-body {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  width: 50%;
  margin-right: 20%;
}

#emailForRecovery {
  text-align: left;
  max-width: 90%;
}

#saveNote {
  height: 6rem;
  width: 10rem;
  font-size: 2.3rem;
  margin-top: 10%;
  margin: 0 auto;
}

.saveNoteWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

#saveNote {
  height: 6rem;
  width: 10rem;
  font-size: 2.3rem;
}

@media (orientation: landscape) {
  .saveNoteWrapper {
    height: 100vh;
  }
}

.modal-footer {
  border-radius: 0 0 10px 10px;
}

.closeModal {
  color: red;
  float: right;
  cursor: pointer;
  font-size: 28px;
  font-weight: bold;
}

.closeModal:hover,
.closeModal:focus {
  color: darkred;
  text-decoration: none;
}

@media (max-width: 768px) {
  .modal-body {
    flex-direction: column;
  }

  .modal-body input,
  .modal-body textarea {
    width: 200%;
  }
}

.refreshNotes,
.openModal {
  position: fixed;
  width: 80px;
  bottom: 60px;
  cursor: pointer;
  font-size: 28px;
  font-weight: bold;
  font-size: 2rem;
}

.refreshNotes {
  left: 10px;
}

.openModal {
  right: 10px;
}

hr.dashed {
  border: 0;
  border-top: 1px dashed; /* Linea tratteggiata */
  margin: 20px 0;
}

td:hover {
  transform: scale(1.1);
  z-index: 999;
}

.law {
  background-color: var(--law);
}

.law:hover {
  background-color: var(--law-hover);
}

.historical {
  background-color: var(--historical);
}

.historical:hover {
  background-color: var(--historical-hover);
}

.wisdom {
  background-color: var(--wisdom);
}

.wisdom:hover {
  background-color: var(--wisdom-hover);
}

.maj-prophet {
  background-color: var(--maj-prophet);
}

.maj-prophet:hover {
  background-color: var(--maj-prophet-hover);
}

.min-prophet {
  background-color: var(--min-prophet);
}

.min-prophet:hover {
  background-color: var(--min-prophet-hover);
}

.apostles {
  background-color: var(--apostles);
}

.apostles:hover {
  background-color: var(--apostles-hover);
}

.letter {
  background-color: var(--letter);
}

.letter:hover {
  background-color: var(--letter-hover);
}

.other {
  background-color: #fc952f;
}

.other:hover {
  background-color: #c97a1f;
}

button {
  text-align: center;
  font-family: "Fira Sans Condensed", Arial;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: var(--bg);
  background-color: var(--primary-col);
  border-radius: 5px;
  transition: background-color 0.5s ease;
  opacity: 1 !important;
}

button:hover {
  background-color: var(--btn-hover);
}

button.disabled {
  background-color: var(--btn-hover);
}

button.disabled:hover {
  background-color: var(--btn-hover);
}

#return-btn {
  position: fixed;
  top: 40px;
  right: 15px;
}

button.help {
  position: fixed;
  z-index: 2;
  bottom: 60px;
  right: 10px;
}

.search-container {
  position: fixed;
  z-index: 2;
  right: 10px;
  top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-bar,
.switch-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 10px;
}

#search-input {
  transition: background-color 0.5s ease;
  height: 40px;
  margin-right: 5px;
  padding: 0 10px;
  font-size: 16px;
  width: 19.4rem;
  background-color: var(--primary-col);
  color: var(--bg);
  border: none;
  border-radius: 5px;
  font-family: "Fira Sans Condensed", Arial;
}

@media (max-width: 768px) {
  #search-input {
    width: max-content;
  }
}

#search-button {
  border: none;
  cursor: pointer;
  height: 40px;
  width: 40px;
  padding: 0;
  border-radius: 5px;
}

#search-input::placeholder {
  color: var(--placeholder-col);
}

.switch {
  position: relative;
  display: inline-block;
  margin-left: 5px;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #4caf50;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  border-radius: 50%;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider:before {
  transform: translateX(
    26px
  ); /* Muovi la pallina a destra quando è selezionato */
}

.switch-label {
  margin-left: 5px;
}

/* Modal styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  word-break: break-word;
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid var(--border-col);
  width: 80%;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-header,
.modal-footer,
.modal-body,
.modal-content {
  padding: 10px;
  background-color: var(--bg);
  color: var(--primary-col);
  border-radius: 10px 10px 0 0;
}

.modal-header,
.modal-footer {
  font-family: "Cinzel", Arial;
}

.modal-footer {
  border-radius: 0 0 10px 10px;
}

pre {
  white-space: pre-wrap;
  word-break: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
  position: relative;
}

pre mark {
  display: inline-block;
  max-width: 80%;
  word-break: break-word;
  overflow-wrap: break-word;
}

h2,
h3,
p {
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
  width: 85%;
  word-wrap: break-word;
  white-space: normal;
  list-style-position: inside;
}

.home-page-title {
  text-align: center;
  margin: 17vh auto;
}

.onboarding-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 0 auto;
  max-width: 43.5rem;
  margin-bottom: 60px;
}

.onboarding-topic {
  border: 2px solid var(--primary-col);
  border-radius: 10px;
  padding: 10px;
  width: 90vw;
}

/* Toast styles */

.toast {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 99 !important;
  font-size: 1.6rem;
  opacity: 0;
  pointer-events: none; /* Impedisce interazioni finché non è visibile */
  transition: opacity 0.5s ease-in-out, transform 0.3s ease-in-out;
}

/* Quando il toast viene mostrato */
.toast.show {
  opacity: 1;
  pointer-events: auto; /* Ora diventa interattivo */
  transform: translate(-50%, -50%) scale(1.05);
}

/* Quando il toast si nasconde */
.toast.hide {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.95);
}
